body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #c910ee;
  color: #ffffff;
}

#container {
  text-align: center;
  width: 85%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#question {
  font-size: 3em;
  margin-bottom: 20px;
}

#options {
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#options button {
  display: block;
  margin-bottom: 10px;
}

button {
  height: 3rem;
  width: 600%;
  /* margin-left: -300%; */
  border: 2px solid #ffffff;
  border-radius: 3px;
  background: #00000007;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

#audio-player {
  position: relative;
}

#play-button {
  width: 50px;
  height: 50px;
  background-image: url("../assets/mute.png"); /* Replace 'speaker_icon.png' with the path to your speaker icon image */
  background-size: cover;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#audio {
  display: none;
}